<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <% if (err != "") { %>
            <h3>El correo y/o la contraseña estan equivocadas.</h3>
        <% } %>
        <h2>Iniciar sesión</h2>
        <form id="loginForm" action="/utilidades/authmethod" method="post">
            <div class="form-group">
                <label for="Usuario">Usuario:</label>
                <input type="Usuario" id="Usuario" name="Usuario" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <input type="submit" value="Iniciar sesión">
        </form>
    </div>
</body>
</html>