<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Usuario</title>
    <link rel="stylesheet" href="../users.css">
    
</head>
<body>
    <%- include('../header') %>
    <% finalbody.forEach(function(finalbody) { %>
    <li><%= finalbody.nombre %> <%= finalbody.apellido_paterno %> <%= finalbody.apellido_materno %></li>
    <% }); %>
</body>