<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Usuario</title>
    <link rel="stylesheet" href="../users.css">
    <script>
        function obtenerId(){
            const id = document.getElementById("clvIdActual").innerHTML;
            console.log("El id que se esta obteniendo es: "+id);
            return id;
        }

        function redirectToConsultas(userId) {
            const id = obtenerId();
            window.location.href = "/consultas/"+userId+"?id="+id;
        }

        function redirectToEdit(userId) {
            const id = obtenerId();
            window.location.href = "/usuarios/userbyEditV/"+userId+"?id="+id;
        }
    </script>
</head>
<body>
    <%- include('../header') %>
    <div class="user-create-container">
        <h2>Buscar paciente</h2>
        <h3>Buscar paciente para agendar cita <br> Llenar mas campos para una busqueda mas precisa</h3>
        <h3></h3>
        <form id="queryForm" action="/usuarios/findUserbySpec?id=<%= id %>" method="GET">
            <div class="user-create-form-group">    
                <label for="nombre" class="user-create-label">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="user-create-input">
            </div>
            <div class="user-create-form-group">
                <label for="apellido" class="user-create-label">Apellido Paterno:</label>
                <input type="text" id="apellido_paterno" name="apellido_paterno" class="user-create-input">
            </div>
            <div class="user-create-form-group">
                <label for="apellido" class="user-create-label">Apellido Materno:</label>
                <input type="text" id="apellido_materno" name="apellido_materno" class="user-create-input">
            </div>
            <div class="user-create-form-group">
                <label for="telefono" class="user-create-label">Telefono:</label>
                <input type="text" id="telefono" name="telefono" class="user-create-input">
            </div>
            <div style="display: none;" class="user-create-form-group">
                <label for="telefono" style="display: none;" class="user-create-label">Telefono:</label>
                <input type="hidden" style="display: none;" id="id" name="id" class="user-create-input" value="<%= id %>">
            </div>
            <button type="submit">Buscar</button>
        </form>
    </div>
</body>
</html>