<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Consultas</title>
    <link rel="stylesheet" href="../users.css">
</head>
<body>
    <%- include('../header') %>
    <div class="container">
        <div class="button-container">
            <a href="/usuarios/createuserV"><button class="button" id="new-user-btn">Nuevo Usuario</button></a>
            <p class="text">Botón para crear una consulta con un cliente el cual es la primera vez que viene</p>
        </div>
        <div class="button-container">
            <a href="/usuario-registrado"><button class="button" id="registered-user-btn">Usuario Ya Registrado</button></a>
            <p class="text">Botón para crear una consulta con un cliente el cual ha venido anteriormente</p>
        </div>
    </div>
</body>
</html>
